h1 { /* I used .styled-text h1 instead of h1 because I wanted to experiment with CSS classes*/
    text-align: center;
}

h3 { 
    background-color: #c4d2ee;
    font-weight: bold;
    text-align: center;
  }


.table {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-color: #a195d6; /* I used the vscode color select wheel to find these hex codes. */
    table-layout: fixed; /* This line is to fix an issue I was having with the first column of the table being too wide. */
  }
  
  
  
  .table tr {
    background-color: #dcdfe2;
  }
  
  .table td {
    padding: 10px;
    border-bottom: 1px solid #dcdfe2;
  }
  
  .table tr:nth-child(even) {
    background-color: #b3b4ba;
  }