h1 { /* I used .styled-text h1 instead of h1 because I wanted to experiment with CSS classes*/
    text-align: center;
}

h3 { 
    background-color: #d2d7c5;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

body {
    background-color: rgb(240, 240, 234);
}

.mtable {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-color: #c7c3d9; /* I used the vscode color select wheel to find these hex codes. */
    table-layout: fixed; /* This line is to fix an issue I was having with the first column of the table being too wide. */
  }
  
  
  
  .mtable tr {
    background-color: #dcdfe2;
  }
  
  .mtable td {
    padding: 10px;
    border-bottom: 1px solid #dcdfe2;
    
  }
  
  .mtable tr:nth-child(even) {
    background-color: #b3b4ba;
  }

  table td:hover {
        background-color: #d8e094;
  }
